<div class="container mt-4">
    <hr>
    <h2>Servicio de consulta de aportaciones</h2>
    <hr id="medio">
    <h3>Aportaciones en {{authService.getUserData("nombre")}}</h3>
    <hr><br><br>
    <table id="tablero" class="table table-bordered">
        <thead class="thead-dark">
        <tr id="primero">
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Promotor</th>
            <th>Entidad Financiera</th>
            <th>Cantidad Total</th>
            <th>Mes de la Aportación</th>
            <th>Aportaciones Mensuales</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let aportacion of aportaciones">
                <td>{{ aportacion.nombre }}</td>
                <td>{{ aportacion.apellidos }}</td>
                <td>{{ aportacion.promotor }}</td>
                <td>{{ aportacion.entidadFinanciera }}</td>
                <td>{{ aportacion.cantidadTotal }}</td>
                <td>{{ aportacion.mes }}</td>
                <td>{{ aportacion.aportacionesMensuales }}</td>
            </tr>
        </tbody>
    </table>
</div>
