#contenedor {
    margin: auto;
}

h2 {
    font-weight: bold;
    color: dimgrey;
    text-shadow: 1px 1px 2px white;
    text-align: center;
}

label {
    font-weight: bold;
    text-shadow: 1px 1px 2px white;
}

input, textarea, select, option {
    color: black;
    background-color: lightgray;
    text-align: center;
    font-weight: lighter;
}

input::placeholder {
    color: black;
    text-align: left;
    font-weight: lighter;
}
