<div class="container mt-5">
    <h2>Formulario de Reclamación</h2>
    <form [formGroup]="reclamacionForm" (ngSubmit)="enviarReclamacion()">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre">
        </div>
        <div class="mb-3">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input type="text" id="apellidos" class="form-control" formControlName="apellidos">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="reclamacion" class="form-label">Reclamación</label>
            <textarea id="reclamacion" class="form-control" formControlName="reclamacion"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

