<div class="container mt-5">
    <h2>Formulario de Reclamación/Petición</h2>
    <form [formGroup]="reclamacionForm" (ngSubmit)="enviarReclamacion()">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre">
        </div>
        <div class="mb-3">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input type="text" id="apellidos" class="form-control" formControlName="apellidos">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <select id="tipo" class="form-select" formControlName="tipo">
                <option value="reclamacion">Reclamación</option>
                <option value="peticion">Petición</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Texto</label>
            <textarea id="descripcion" class="form-control" formControlName="descripcion"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>


