<div class="container mt-4">
    <br><hr>
    <h2>Servicio de consulta de aportaciones</h2>
    <hr id="medio">
    <h2>Consulta de Aportaciones</h2>
    <hr><br><br>
    <table id="tablero" class="table">
        <thead>
        <tr id="primero">
            <th scope="col">Promotor</th>
            <th scope="col">Mes</th>
            <th scope="col">Cantidad Total</th>
            <th scope="col">Aportaciones Mensuales</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let aportacion of aportaciones">
            <td>{{ aportacion.promotor }}</td>
            <td>{{ aportacion.mes }}</td>
            <td>{{ aportacion.cantidadTotal | currency:'EUR' }}</td>
            <td>{{ aportacion.aportacionesMensuales | currency:'EUR' }}</td>
        </tr>
        </tbody>
    </table>
</div>
