* {
text-align: center;
margin: 0 auto;
}

#tablero {
    border-collapse: collapse;
    width: min-content;
}

#primero {
    background-color: dimgray!important;
    border: solid 1px black;
    text-align: center;
    text-shadow: 1px 1px 2px antiquewhite;
}

#tablero tr:nth-child(2n) {
    background-color: dimgray;
    border: solid 1px black;
    text-align: center;
}

#tablero tr:nth-child(2n+1) {
    background-color: grey;
    border: solid 1px black;
    text-align: center;
}

#tablero tr td {
    min-height: 20px;
    padding: 15px;
}

h2, h3 {
    color: dimgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    text-align: center;
    font-weight: bold;
    padding-top: 1rem;
    text-shadow: 1px 1px 2px white;
}

#medio {
    width: 20%!important;
    margin-left: 40%!important;
}

td:hover {
    font-weight: bold;
}
