<div *ngIf="reclamaciones.length; else noReclamaciones" class="container mt-3">
    <br><hr>
    <h2>Reclamaciones</h2>
    <hr><br>
    <div class="row">
        <div class="col-md-4 div" *ngFor="let reclamacion of reclamaciones">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ reclamacion.nombre }} {{reclamacion.apellidos}}</h5>
                    <p class="card-text">{{ reclamacion.dni }}</p>
                    <p class="card-text">{{ reclamacion.tipo === 'reclamacion' ? 'Reclamación' : reclamacion.tipo === 'peticion' ? 'Petición' : 'Sin tipo'}}</p>
                    <p class="card-text">{{ reclamacion.descripcion || 'No se envió texto' }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Fecha: {{ reclamacion.fechaCreacion | date:'mediumDate' }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #noReclamaciones>
    <div class="alert alert-warning" role="alert">
        <h2>No hay reclamaciones para mostrar.</h2>
    </div>
</ng-template>

