<div class="container mt-4">
    <h2>Consulta de Aportaciones</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">DNI</th>
            <th scope="col">Cantidad Total</th>
            <th scope="col">Aportaciones Mensuales</th>
            <th scope="col">Mes</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let aportacion of aportaciones">
            <td>{{ aportacion.nombre }}</td>
            <td>{{ aportacion.apellidos }}</td>
            <td>{{ aportacion.dni }}</td>
            <td>{{ aportacion.cantidadTotal | currency:'EUR' }}</td>
            <td>{{ aportacion.aportacionesMensuales | currency:'EUR' }}</td>
            <td>{{ aportacion.mes }}</td>
        </tr>
        </tbody>
    </table>
</div>
