<div>
    <h2>Información Completa del Sistema</h2>
    <br><hr><br><br>
    <section>
        <hr class="medio">
        <h3>Usuarios</h3>
        <hr class="medio"><br>
        <table class="table">
            <thead>
            <tr class="primero">
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
                @for (usuario of datosCompletos.usuarios; track datosCompletos.usuarios.id){
                    <tr>
                        <td>{{ usuario.dni }}</td>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellidos }}</td>
                        <td>{{ usuario.email }}</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <section>
        <br><hr class="medio">
        <h3>Entidades</h3>
        <hr class="medio"><br>
        <table class="table">
            <thead>
            <tr class="primero">
                <th>Nombre</th>
                <th>NIF</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entidad of datosCompletos.entidades">
                <td>{{ entidad.nombre }}</td>
                <td>{{ entidad.NIF }}</td>
                <td>{{ entidad.email }}</td>
            </tr>
            </tbody>
        </table>
    </section>
    <section>
        <br><hr class="medio">
        <h3>Promotores</h3>
        <hr class="medio"><br>
        <table class="table">
            <thead>
            <tr class="primero">
                <th>Nombre</th>
                <th>Contacto</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let promotor of datosCompletos.promotores">
                <td>{{ promotor.nombre }}</td>
                <td>{{ promotor.email }}</td>
            </tr>
            </tbody>
        </table>
    </section>
    <br>
    <hr>
    <section>
        <h3>Cantidad Total de Aportaciones</h3>
        <p id="aportaciones"> La cantidad total de aportaciones es de<span> {{ datosCompletos.cantidadTotalAportaciones | currency:'EUR'  }}</span></p>
    </section>
</div>
