<app-nav />

@if (!authService.isLoggedIn()){
    <p>Por favor, <a routerLink="/registro">regístrate</a> o <a routerLink="/login">inicia sesión</a> para ver el contenido.</p>
} @else {
    <div class="flex place-content-end mr-5 text-[24px]">
        <p>Bienvenido, {{ authService.getUserData('nombre')}}</p>
    </div>
}

<h1>
    {{ title }}
</h1>

<hr class="mb-5">

@if (authService.getUserData('role') === 'admin'){
    <app-admin />
}

@if (authService.getUserData('role') === 'user'){
    <div id="tres" class="text-[16px]">
        <p>¡Bienvenido a la página principal de Consulta Express!</p>
        <br>
        <p>En esta plataforma, tendrás acceso directo a tus movimientos y transacciones financieras de manera rápida y sencilla. Utiliza la barra de navegación en la parte superior para explorar y gestionar tus datos de forma eficiente.</p>
        <br>
        <p>Diseñamos esta plataforma pensando en ti, para brindarte una experiencia intuitiva y segura. Si en algún momento necesitas ayuda o tienes alguna pregunta, no dudes en contactar con nuestro equipo de soporte. Estamos aquí para ayudarte a sacar el máximo provecho de todas las funciones que ofrecemos.</p>
        <br>
        <p>Gracias por confiar en nosotros como tu plataforma de consulta financiera. Nos comprometemos a proporcionarte las herramientas necesarias para que puedas administrar tus finanzas de manera efectiva y mejorar tu experiencia bancaria.</p>
        <br>
        <p>¡Explora, gestiona y maximiza el potencial de tu información con Consulta Express!</p>
        <br><br>
        <hr>
        <br><br>
        <p>Para más información, términos y condiciones completos, así como políticas de privacidad, visita nuestro sitio web o ponte en contacto con nuestro equipo de atención al cliente. Las ofertas y servicios están sujetos a cambios sin previo aviso. Se aplican restricciones. Los productos financieros están sujetos a aprobación y disponibilidad. Consulta con un asesor financiero antes de tomar decisiones importantes. Todas las transacciones están sujetas a las leyes y regulaciones locales. Se pueden aplicar cargos por uso de servicios adicionales. ©2024 Todos los derechos reservados.</p>
    </div>
}@else if (authService.getUserData('role') === 'promotor'){
    <div id="tres" class="text-[16px]">
        <p>¡Bienvenido a la plataforma de Consulta Empresarial!</p>
        <br>
        <p>En esta plataforma, como empresa receptora de aportaciones financieras de nuestros usuarios a través de los bancos, tendrás acceso directo a los detalles de las transacciones realizadas. Utiliza las herramientas proporcionadas para explorar y gestionar eficazmente las aportaciones que recibes.</p>
        <br>
        <p>Diseñamos esta plataforma pensando en las necesidades de tu empresa, para proporcionarte una experiencia intuitiva y segura. Si en algún momento necesitas asistencia técnica o tienes alguna pregunta sobre las transacciones recibidas, nuestro equipo de soporte está disponible para ayudarte. Estamos comprometidos a asegurar que aproveches al máximo todas las funcionalidades que ofrecemos.</p>
        <br>
        <p>Gracias por confiar en nosotros como tu plataforma de consulta empresarial. Nos comprometemos a proporcionarte las herramientas necesarias para gestionar y analizar tus transacciones de manera efectiva, y mejorar la eficiencia de tus procesos financieros.</p>
        <br>
        <p>¡Explora, gestiona y maximiza el potencial de tus transacciones con Consulta Empresarial!</p>
        <br><br>
        <hr>
        <br><br>
        <p>Para más información, términos y condiciones completos, así como políticas de privacidad, visita nuestro sitio web o ponte en contacto con nuestro equipo de atención al cliente. Las ofertas y servicios están sujetos a cambios sin previo aviso. Se aplican restricciones. Los productos financieros están sujetos a aprobación y disponibilidad. Consulta con un asesor financiero antes de tomar decisiones importantes. Todas las transacciones están sujetas a las leyes y regulaciones locales. Se pueden aplicar cargos por uso de servicios adicionales. ©2024 Todos los derechos reservados.</p>
    </div>
}@else if (authService.getUserData('role') === 'entidad'){
    <div id="tres" class="text-[16px]">
        <p>Bienvenido a la página principal de las Entidades de la Plataforma Digital de Consulta Express.</p>
        <br>
        <p>Como entidad registrada en nuestra plataforma, tienes acceso privilegiado a los datos y recursos que figuran bajo tu dominio. A través de la barra de navegación superior, puedes explorar y gestionar la información de manera rápida y eficiente.</p>
        <br>
        <p>Nuestra plataforma está diseñada para ofrecerte una experiencia intuitiva y segura. Si en algún momento surge alguna pregunta o necesitas asistencia técnica, no dudes en ponerte en contacto con el administrador de la plataforma. Estamos aquí para ayudarte y garantizar que aproveches al máximo todas las funcionalidades que ofrecemos.</p>
        <br>
        <p>Gracias por confiar en nosotros como tu socio tecnológico en el ámbito bancario. Estamos comprometidos a proporcionarte las herramientas necesarias para facilitar tus procesos y mejorar la eficiencia de tu entidad.</p>
        <br>
        <p>¡Explora, gestiona y maximiza el potencial de tu información con Consulta PDCE!</p>
        <br><br>
        <hr>
        <br><br>
        <p>Para más información, términos y condiciones completos, así como políticas de privacidad, visita nuestro sitio web o ponte en contacto con nuestro equipo de atención al cliente. Las ofertas y servicios están sujetos a cambios sin previo aviso. Se aplican restricciones. Los productos financieros están sujetos a aprobación y disponibilidad. Consulta con un asesor financiero antes de tomar decisiones importantes. Todas las transacciones están sujetas a las leyes y regulaciones locales. Se pueden aplicar cargos por uso de servicios adicionales. ©2024 Todos los derechos reservados.</p>
    </div>
}

<router-outlet></router-outlet>

<app-footer />
