<app-nav />

@if (!authService.isLoggedIn()){
    <p>Por favor, <a routerLink="/register">regístrate</a> o <a routerLink="/login">inicia sesión</a> para ver el contenido.</p>
} @else {
    <div class="flex place-content-end mr-5 text-[24px]">
        <p>Bienvenido, {{ authService.getUserData('nombre')}}</p>
    </div>
    @if (authService.getUserData('role') === 'admin'){
        <p>Como administrador, puedes <a routerLink="/admin">acceder al panel de administración</a>.</p>
    }
}

<h1>
    {{ title }}
</h1>

<hr class="mb-5">

@if (authService.getUserData('role') === 'user'){
    <div>
        <p>Bienvenido a la página principal de los ciudadanos de la Plataforma Digital de Consulta Express.</p>
        <p>Como ciudadano, puedes acceder a tus aportaciones y a los datos que figuren bajo tu dominio siguiendo los links de la barra de navegación superior.</p>
        <p>Si tienes alguna duda o necesitas ayuda, por favor, contacta con el administrador de la plataforma.</p>
    </div>
}@else if (authService.getUserData('role') === 'promotor'){
    <p>Como promotor, puedes <a routerLink="/promotor">acceder al panel de promotor</a>.</p>
}@else if (authService.getUserData('role') === 'entidad'){
    <div id="tres" class="text-[16px]">
        <p>Bienvenido a la página principal de las Entidades de la Plataforma Digital de Consulta Express.</p>
        <br>
        <p>Como entidad registrada en nuestra plataforma, tienes acceso privilegiado a los datos y recursos que figuran bajo tu dominio. A través de la barra de navegación superior, puedes explorar y gestionar la información de manera rápida y eficiente.</p>
        <br>
        <p>Nuestra plataforma está diseñada para ofrecerte una experiencia intuitiva y segura. Si en algún momento surge alguna pregunta o necesitas asistencia técnica, no dudes en ponerte en contacto con el administrador de la plataforma. Estamos aquí para ayudarte y garantizar que aproveches al máximo todas las funcionalidades que ofrecemos.</p>
        <br>
        <p>Gracias por confiar en nosotros como tu socio tecnológico en el ámbito bancario. Estamos comprometidos a proporcionarte las herramientas necesarias para facilitar tus procesos y mejorar la eficiencia de tu entidad.</p>
        <br>
        <p>¡Explora, gestiona y maximiza el potencial de tu información con Consulta PDCE!</p>
        <br><br>
        <hr>
        <br><br>
        <p>Para más información, términos y condiciones completos, así como políticas de privacidad, visita nuestro sitio web o ponte en contacto con nuestro equipo de atención al cliente. Las ofertas y servicios están sujetos a cambios sin previo aviso. Se aplican restricciones. Los productos financieros están sujetos a aprobación y disponibilidad. Consulta con un asesor financiero antes de tomar decisiones importantes. Todas las transacciones están sujetas a las leyes y regulaciones locales. Se pueden aplicar cargos por uso de servicios adicionales. ©2024 Todos los derechos reservados.</p>
    </div>
}

<router-outlet></router-outlet>

<app-footer />
