<nav>
    <ul>
        <li><a routerLink="/">Inicio</a></li>
        @if (!authService.isLoggedIn()) {
            <li><a routerLink="/login">Iniciar Sesión</a></li>
            <li><a routerLink="/registro">Registro</a></li>
        } @else {
            @if (authService.isAdmin()) {
                <li><a routerLink="/admin">Admin</a></li>
            } @else if (authService.isEntidad()) {
                <li><a routerLink="/entidad">Entidad</a></li>
            } @else if (authService.isUsuario()) {
                <li><a routerLink="/usuario">Usuario</a></li>
            } @else if (authService.isProveedor()) {
                <li><a routerLink="/proveedor">Proveedor</a></li>
            }
            <li><a (click)="logout()">Cerrar Sesión</a></li>
        }
    </ul>
</nav>
